<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      De La Ut Soy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">De La Ut Soy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Listo para empexar a crear tu primera app en ionic?</strong>
    <p>clicea aqui <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-button expand="block" fill="outline">Outline + Block</ion-button>
</ion-content>
